<manifest
    package="zerofield.mywallpaper"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:name="android.software.live_wallpaper"
        android:required="true">
    </uses-feature>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <service
            android:name="MyWallpaperService"
            android:enabled="true"
            android:label="Wallpaper Example "
            android:permission="android.permission.BIND_WALLPAPER">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService">
                </action>
            </intent-filter>

            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/mywallpaper">
            </meta-data>
        </service>

        <activity
            android:name=".MyPreferencesActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Light.WallpaperSettings"/>
        <activity
            android:name=".SetWallpaperActivity"
            android:theme="@android:style/Theme.Light.WallpaperSettings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
